{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
 <h1 class="mt-4 mb-4  text-center">Restaurant Menu</h1>
    <img src="https://menu.am/resources/default/img/restaurants/big/1676459289206-1226.jpg", width="1150", height="300">
   <ul class="list-group list-group-flush">
   {% for meal in meals %}
         <h2 class="mt-3 text-center">{{ meal.1 }}</h2>
             {% for row in item_list %}
                 {% if row.meal_type == meal.0 %}
                    {% if row.status == 0 %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                        <a href="{% url 'menu_item' row.pk %}"><h3><del>{{ row.meal }}</del></h3></a>
                        <span class="badge bg-primary rounded-pill"> {{ row.price }} </span>
                    </li>
                    <li class="list-group-item pt-0">
                         <p> {{ row.description }} <p>
                    </li>
                    {% else %}
                   <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                       <div class="dish-image">
                         <a href="{% url 'menu_item' row.pk %}"><h3>{{ row.meal }}</h3>

                             {% if row.dish_images %}
                             <img src="{{ row.dish_images.url }}" alt="{{ row.meal }}" width="200",align="left">
                             {% endif %}
                         </a>
                       </div>
                         <span class="badge bg-primary rounded-pill"> {{ row.price }} </span>
                   </li>
                    <li class="list-group-item pt-0">
                           <p> {{ row.description }} <p>
                    </li>
                       {% endif %}
                     {% endif %}
                 {% endfor %}
   {% endfor %}
</ul>
</div>
{% endblock content %}
